/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

html, body, #root {
  height: 100%;
  font-family: cursive; /* <-- global cursive font */
}
@import "tailwindcss";
@import 'react-date-range/dist/styles.css';
@import 'react-date-range/dist/theme/default.css';



